/* Importing Google Fonts */
/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*@font-face { font-family:'Mistral'; src:url('../fonts/MISTRAL.ttf') format('truetype'); font-weight:normal; font-style:normal; }*/

/* ============== CSS Variables ================ */
:root { --primary-color:#EE1C24; --secondary-color:#595959; --grey-color:#1E1E1E; --white-color:#fff; --black-color:#000;}

/* ============== Default Element Style ================ */
body {
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	font-style: italic;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--grey-color);
}
p {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #131212;
	font-size: 16px;
	line-height: 26px;
}

/* Responsive Typography with Line Clamp */
h1 { font-weight:700; font-size:clamp(36px, 5vw, 60px); line-height:1.2; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; color:var(--white-color); }
h1 span { font-family:var(--font-secondary); font-weight:400; font-size:clamp(50px, 7vw, 90px); line-height:1.2; color:var(--primary-color); }
h2 {
	font-family: var(--font-primary);
	font-weight: 600;
	font-size: clamp(28px, 4vw, 46px);
	line-height: 1.2;
	color: #073f5a;
}
	h2 span {
		font-family: var(--font-secondary);
		font-weight: 400;
		font-size: clamp(28px, 6vw, 46px);
		line-height: 1.2;
		color: #f2b21d;
	}
h4 { font-family:var(--font-primary); font-weight:600; font-size:clamp(18px, 3vw, 22px); line-height:1.2; }
/*p { font-family:var(--font-primary); font-weight:500;
	font-size:clamp(16px, 2.5vw, 18px); 
	line-height:1.8; display:-webkit-box; 
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
	overflow:hidden; }*/

/* List & Anchor */
ul { margin:0; padding:0; list-style:none; }
a, a:hover, a:focus { text-decoration:none !important; }

/* Images */
img { border-style:none; max-width:100%; height:auto; }



/* Section Padding */
.section-padding { padding:80px 0px; }
.section-padding-top { padding-top:80px; }
.section-padding-bottom { padding-bottom:80px; }

/* Responsive Adjustments */
@media (max-width:768px) { .section-padding { padding:60px 0px; } .section-padding-top { padding-top:60px; } .section-padding-bottom { padding-bottom:60px; } }
@media (max-width:480px) { .section-padding { padding:40px 0px; } .section-padding-top { padding-top:40px; } .section-padding-bottom { padding-bottom:40px; } }

/* Footer */




.bottom-footer {
	background-color: red;
	color: white;
	text-align: center;
	padding: 10px 0;
}
.w-black {
	color: #595959;
}
.bg-wblack {
	background: #595959;
}
.red {
	color: #EE1C24;
}



.aim-box {
	background: #EE1C24;
	border-radius:18px;
}
.img-top-radius{
	border-top-left-radius:15px;
	border-top-right-radius:15px;
}

#invest {
	background-image: url(../img/invest-bg-img.webp), url(../img/invest-bg-img.png);
	background-size: cover;
	background-position: center;
}

#piece-of-land {
	background-image: url(../img/piece-of-land-img.webp), url(../img/piece-of-land-img.png);
	background-size: cover;
	background-position: left center;
}
.btn {
	background: linear-gradient(to right, #f2b21d 0%, #073f5a 100%);
	color: #fff;
	border: 1px solid #fff;
	width: fit-content;
	padding: 15px 24px;
	position: relative;
	overflow: hidden;
	transition: all 0.4s ease-in-out;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

	.btn::before {
		content: '';
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.2);
		transition: all 0.4s ease-in-out;
		transform: skewX(-45deg);
	}

	.btn:hover::before {
		left: 100%;
	}

	.btn:hover {
		transform: scale(1.05);
		box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
	}



#banner {
	background-image: url(../img/home-banner-img.webp), url(../img/home-banner-img.png);
	background-size: cover;
	background-position: center center;
}
.navbar {
	background: #E9E9E9;
}

.nav-link {
	padding: 9px 10px !important;
	color: #333;
	background-color: transparent;
	font-weight: 600;
	font-size: 15px;
	font-family: "Poppins", sans-serif;
}





/*----------------------header CSS---------------------*/



.logo-area {
	background-color: #fff;

}

.top {
	clip-path: polygon(0 0, 100% 0, 100% 25%, 100% 66%, 100% 100%, 30% 100%, 25% 0%, 0 0%);
	background: #073f5a;
}

@media(max-width:768px){
	.top {
		clip-path: unset;
		background: #073f5a;
	}
}
	.icon{
		color:#fff;
	}
.icon:hover{
	color: #f36f21;
}

.yellow {
	color: #f6a70c;
	
}

.yellow-wht{
	color: #fff;
}
.yellow-wht:hover {
	color: #f6a70c;
}

@media(min-width:992px){
	.navbar-brand {
		position: absolute;
		top: -55px;
	}
}


.logo-area::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 4px;
	width: 100%;
	/*background: linear-gradient(to right, #ffd000 0, #fcc204 16%, #f49c0f 30%, #f08914 44%,
	#ec751a 60%, #e86320 72%, #da2134 86%, #da2134 99%, #da2134 100%);*/
	background: linear-gradient(to right, #f2b21d 0%, #073f5a 100%);
}

.video-text h3 {
	border-radius: 34px;
	padding: 12px 0;
	font-size: 34px;
	font-weight: 400;
	text-align: center;
	color: #fff;
	margin-top: 0;
	background-color: #000;
	opacity: .8;
	margin-left: 0;
	width: 100%;
}

#trangle-img{
	position: absolute;
	top: -99px;
	left: 0px;
	right: 0px;
	margin: auto;
	justify-content: center;
	display: flex;
}
@media(max-width:576px){
	#trangle-img {
		display: none;
	}
}

@media(min-width:992px) {


	#counter-detail {
		background-image: url(../../assets/images/counter-bg-img.png);
		background-size: cover;
		background-position: center center;
	}
}

.count-box {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background: #fff;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.counter{
	font-size:40px;
	color:#000;
}
.plus{
	font-size:30px;
}



#footer {
	background: rgb(7, 63, 90);
}

	#footer h5 {
		color: #f2b21d;
	}

	#footer li a, #footer p a {
		color: #fff;
		font-family: "Open Sans", sans-serif;
		font-style:normal;
	}

	#footer li a {
		line-height: 30px;
	}

.social-icon {
	color: #fff;
	background: linear-gradient(to right, #f2b21d 0%, #073f5a 100%);
	border-radius: 50px;
	padding:17px 19px;
}

.contact-us {
	background: url(../../assets/images/contact-us-banner-img.webp) top center no-repeat;
	background: url(../../assets/images/contact-us-banner-img.png) top center no-repeat;
	margin-top: 120px;
	background-size: cover;
}
.about-us {
	background: url(../../assets/images/about-us-mobile-website-development-img.webp) top center no-repeat;
	background: url(../../assets/images/about-us-mobile-website-development-img.png) top center no-repeat;
	margin-top: 120px;
	background-size: cover;
}
.services-inner {
	background: url(../../assets/images/website-developmnt-services-banner-img.webp) top center no-repeat;
	background: url(../../assets/images/website-developmnt-services-banner-img.png) top center no-repeat;
	margin-top: 120px;
	background-size: cover;
}
.join-our-team {
	background: url(../../assets/images/join-our-team-img.webp) top center no-repeat;
	background: url(../../assets/images/join-our-team-img.png) top center no-repeat;
	margin-top: 120px;
	background-size: cover;
}
.inner-tittle {
	padding-top: 200px;
	padding-bottom: 100px;
}

.contact-box {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border: 2px solid transparent;
	border-image: linear-gradient(to right, #f2b21d 0%, #073f5a 100%);
	border-image-slice: 1;
	
}
	.contact-box a {
		color: #131212;
	}

.contact-icon {
	color: #f2b21d;
	font-size:30px;
}

#consultation {
	background: url(../../assets/images/consutant-website-one-tap-solution-img.webp) top center no-repeat;
	background: url(../../assets/images/consutant-website-one-tap-solution-img.png) top center no-repeat;

	background-size: cover;
}

.services-box {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	border-radius: 30px;
}

#our-work-showcase, #why-choose-us, #ios-andriod-mobile-app-development {
	background: url(../../assets/images/bg-img-our-work.webp) top center no-repeat;
	background: url(../../assets/images/bg-img-our-work.png) top center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

@media(max-width:991px){
	#counter-detail {
		background: url(../../assets/images/bg-img-our-work.webp) top center no-repeat;
		background: url(../../assets/images/bg-img-our-work.png) top center no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
}
.justify{
	text-align:justify;
}
.bg-1 {
	background: #fff2e2;
}

.bg-2 {
	background: #feeae3;
}

.bg-3 {
	background: #c8ebff;
}

.bg-4 {
	background: #eee0f7;
}

.icon-app {
	
	background: url(../../assets/images/bg-icon-website.svg) top center no-repeat;
	background-size: cover;
}

.nav-link.active {
	background: none; /* Remove any background */
	color: transparent !important; /* Set text color to transparent */
	background-image: linear-gradient(to right, #f2b21d 0%, #073f5a 100%) !important;
	-webkit-background-clip: text !important; /* Clip the background to the text */
	background-clip: text; /* Standard syntax */
	font-weight: bold; /* Optional: makes the active link stand out */
}
#footer ul li a:hover, #footer a:hover, #footer ul li a.active{
	color: #f2b21d;
	font-weight: bold;
}
#our-work-showcase .nav-link{
	border-color:unset;
	border:unset;
}
#our-work-showcase .nav-tabs{
	border-bottom:unset;
}

#our-work-showcase .nav-link {
	padding: 14px 30px !important;
}

.work-box {
	position: relative;
	border: 2px solid transparent;
	border-image: linear-gradient(to right, #f2b21d 0%, #073f5a 100%);
	border-image-slice: 1;
}

.work-img {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.work-box:hover .work-img {
	opacity: 0.3;
}

.work-box:hover .middle {
	opacity: 1;
}

.text {
	background-color: #04AA6D;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
}
#direct-call{
	position:fixed;
	bottom:0px;
	width:100%;
	z-index:999;
}